<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>😌</title>
  <meta name="description" content="Local photo server 📸">
  <link rel="stylesheet" href="static/clientStyling.css?v=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

</head>

<body>
  <div id="photoframe_container" class="photoFrame">
    <div class="photoFrame" >
        <img id='photoFrame1' class="photo" src='./newPic'/>
    </div>

    <div class="photoFrame">
        <img id='photoFrame2' class="photo"  src='./newPic' />
    </div>
  </div>

  <!-- <button class="fullscreen" onclick="openFullscreen();">Fullscreen ➡️🖥</button> -->



  <script src="static/loadPhotos.js"></script>

</body>
</html>
