<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>😌</title>
  <meta name="description" content="Local photo server 📸">
  <link rel="stylesheet" href="static/clientStyling.css?v=2.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

</head>

<body>
  <div id="photoframe_container" class="photoFrame">
    <div id='photoFrame1' class="photoFrame" style="background-image: url('./newPic');">
    </div>
    
    <div id='photoFrame2' class="photoFrame" style="background-image: url('./newPic');">
    </div>
  </div>

  <!-- <button class="fullscreen" onclick="openFullscreen();">Fullscreen ➡️🖥</button> -->



  <script src="static/loadPhotos.js"></script>

</body>
</html>